@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    margin: 0;
    font-family: "Roboto Condensed";
    background-color: #E6E6E6;
}

a {
    color: #00A99D;
}

header {
    background-color: #544F8B;
    color: white;
    margin: 0;
    padding: 1em 0 0 4em ;
    text-transform: uppercase;
    font-size: 200%;
    height: 2em;
}

#logo {
    position: fixed;
    top: 0.2em;
    left: 0.2em;
    height: 3em;
}

header a {
    color: white;
}

input {
    background-color: #1B1464;
    color: white;

}

.container {
    margin: 0;
    padding: 1em;
    background-color: #fff;
    margin: auto;
    width: 80%;
    z-index: -1;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    font-size: 250%;
}

h2 {
    color: gray;
    font-size: 140%;
}

h3 {
    font-size: 140%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container img {
    float: right;
    width: 50%;
    margin: 0 0 1em 1em;
    x-index: -1;
}

hr {
    clear: both;
    border-top: 1px dotted silver;
}

table#place-profile img {
    height: 1em;
    width: 1em;
    float: left;
}

table#place-profile {
    clear: both;
    font-size: 120%;
    text-align: left;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

table#place-profile th,
table#place-profile td {
    width: 50%;
    padding: 4px 0 4px 10px;
}

tr:nth-child(odd) {background: #fff}
tr:nth-child(even) {background: #efefef}


li b {
    font-weight: 900
}

input[type="submit"] {
    background-color: #1B1464;
    font-size: white;
    border: 0;
    font-size: 140%;
    padding: 0.3em 0.5em;
    text-transform: capitalize;
}
