<link type="text/css" rel="stylesheet" href="../public/application.css">
<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,600,700&amp;lang=en" /> -->

<!-- {% extends 'base.html' %}
{% block body %}
-->

<header>
    <img id="logo" src="../public/images/logo_meet-for-free.png">
    <span>Occupy Your City.</span> Meet for Free
</header>
<login></login>
<div class="container">
    <img src="https://cdn0.vox-cdn.com/thumbor/G9ZjVCjJnDk2rTnJezHQhAMGwZI=/70x0:530x345/500x375/filters:format(webp)/cdn0.vox-cdn.com/uploads/chorus_image/image/48011463/DSC01766.0.JPG">
    <h1>Empire Park Public Space</h1>
    <H2>505 Montgomery St<br>(at Sacramento)<br>Financial District
    </H2>

    <table id="place-profile">
        <tr><th><img src="../public/images/icon_wifi.png">Type:</th><td>Indoor</td></tr>
        <tr><th>Seating:</th><td>None</td></tr>
        <tr><th>Wifi:</th><td>None</td></tr>
        <tr><th>Restroom:</th><td>None</td></tr>
        <tr><th>Hours:</th><td>M-F 9:00am - 6:00 pm</td></tr>
        <tr><th>Year Built</th><td>1988</td></tr>
        <tr><th>Wheelchair Accessible:</th><td>Yes</td></tr>
    </table>

    <hr>
    <h3>Description:</h3>
    <p class="place-desc">This urban park, located at the foot of the Transamerica Pyramid,
        is a wonderful surprise. Surrounded by Redwood trees and graced with luscious ferns, the park features a fountain spouting water several feet high, and figurative bronze sculptures. There
        are also grassy areas, wooden benches and a concrete stage. Take-out food services are nearby. Closed after office hours.</p>

    <table id="place-profile">
        <tr><td><input type="submit" name="submit"></td></tr>
        </table>



    </div>

<!-- {% endblock %} -->
